body{
    background-color: black;
    font-size: Roboto;
}
.container {
    
    position: relative;
    width: 100%;
    height: 270px;
    padding-bottom: 30%;
    
    
    background-image: url("images/image2.png");
    background-size: 1400px 700px;
    background-repeat: no-repeat;
    
    
}
.nav-bar{
    float: right;
    background-color: rgb(184, 183, 180);
    overflow: hidden;
    padding-right:  80px;

    
}
.nav-bar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.nav-bar a:hover{
    
    color: #F19201;
}
main .welcome{
    color: white;
    padding-left:100px;
    padding-top: 100px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 main .welcome .btn{
    background-color: #F19201;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px 30px;


}
.cont{
    
    position: relative;
    width: 100%;
    height: 70px;
    padding-bottom: 30%;
    background-color: #E5E5E5;
    text-align: center;
    margin: 0 auto;
    padding-top: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
.cont p{
    font-style: italic;
}

.row{
    display: flex;
    
    justify-content: center;
}
.card{
    background-color: white;
    /*box-shadow: 0 0 15px yellowgreen;*/
    
    margin: 10px;
    width: 25%;
    height: 250px;
    
}
.menu h3{
    font-size: 1rem;
    
    margin :10px 0;
    padding: 10px 20px;
    margin-left: 260px;
    margin-top: 30px;
}
.menu>.men>h2{
    text-align: center;
    color: #F19201;
}
.cont .row .card h6{
    font-size: 16px;
}
.cont .row .card p{
    margin-top: -20px;
}
.btnn{
    color: white;
    text-align: center;
    background-color: #F19201;
    font-size: 30px;
    border-radius: 900%;
    border: none;
    border-color: #F19201;
    margin-top: 30px;
    height: 60px;
    width: 60px;
}
.int{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 90px;
    padding-bottom: 30%;
    
}
.int img{
    float: left;
    margin-top: -90px;
   
}
.int>#review>h3{
    
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 50px;
}
.int>#review>h1{
    
    font-size: 50px;
}
.int>#review>h6{
    
    margin-top: 50px;
    font-size: large;
}

.menu{
    background-color: #E5E5E5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    height: 750px;
}
.row1 img{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.row1 h2{
    margin-left: 80px;
    padding-left: 200px;
}
.row1 h3{
    font-size: 25px;
}

#review{
    color: white;
    text-align: center;
    margin-top: 90px;
    

}
.row1{
    display: flex;
    
    justify-content: center;
}
.card1{
    background-color: rgb(255,255,255);
    /*box-shadow: 0 0 15px yellowgreen;*/
    
    margin: 10px;
    width: 35%;
    height: 250px;
    
}
.inti{
    position: relative;
    width: 100%;
    height: 400px;

    background-image: url("images/image8.png");
    background-size: 1400px 400px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
}
footer{
    text-align: center;
    color: white;
}

.last{
    padding-top: 100px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#btn{
    background-color: rgb(196, 195, 195);
    width: 100px;
    height: 30px;
    font-size: 16px;
    margin-left: 20px;
    
    border: none;
}

#button{
    background-color: transparent;
    height: 40px;
    width: 130px;
    border-color: white;
    color: white;
}
@media only screen and (max-width: 480px){
    div{
      width: 100px;
      padding: 0px;
      margin: auto;
    }
    p{
      font-size: 12px;
    }
    img{
        width: 40px;
    }
  }

  